#bower installs
src/dojo/
src/cmv/
src/dgrid/
src/dgrid1/
src/dojo-themes/
src/flag-icon-css/
src/dijit/
src/dojox/
src/dstore/
src/esri/
src/moment/
src/put-selector/
src/util/
src/xstyle/

#built log
build-report.txt

#node installs
node_modules
*.log
