# bower installs
# ignore everything
src/*

# except these folders
!src/app/
!src/dojoCOnfig.js
!src/index.html

# node installs
node_modules
*.log
src/pdfmake/
dist/build-report.txt


#built files
dist

#node installs
node_modules
*.log
